body {
    background-color: #dddddd;
    color: #ffffff;
    min-height: 100vh;
}

h1,
h2,
h3 {
    color: #ffffff;
}

.title {
    color: #ffffff;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
}

.gallery .card {
    transition: .1s linear;
}

.gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
}

p {
    font-size: 12px;
}

body {
    background-color: #121212;
    color: #ffffff;
    min-height: 100vh;
  }
  
  h1,
  h2,
  h3 {
    color: #ffffff;
  }
  
  .container {
    padding: 40px;
    padding-right: 0;
  }
  
  .title {
    color: #ffffff;
  }
  
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    justify-content: center;
    gap: 30px;
  }
  
  .gallery .card {
    transition: 0.1s linear;
  }
  
  .gallery .card:hover {
    transform: scale(1.1);
    z-index: 10;
  }
  
  p {
    font-size: 12px;
  }
  
  .detail__img {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 500px;
    background-color: #ffffff;
    overflow: hidden;
  }
  
  .detail__img::after {
    content: "";
    background-image: linear-gradient(transparent 60%, #1f1f1f);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: top;
  }
  
  .detail__name {
    position: absolute;
    z-index: 5;
    top: 400px;
  }
  
  .detail__container {
    margin-top: 500px;
  }

  .acount-list, .transaction-list {
    display: flex;
    flex-direction: column;
  }

  .account {
    color: black;
    background-color: #cfe8ff;
    display: grid;
    grid-template-columns: 100px 1fr auto;
    grid-template-rows: 50% 50%;
    gap: 10px 50px;
    padding: 20px;
    margin: 20px;
  }

  .account .institution-logo {
    grid-area: 1 / 1 / span 2 /span 1;
    height: 100px;
  }

  .account .institution-anchor  {
    grid-area: 2 / 2 / span 1 / span 2;
  }

  .transaction {
    color: black;
    background-color: #cfe8ff;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    grid-template-rows: 50% 50%;
    padding: 20px;
    margin: 20px;
  }

  .account > *, .transaction > * {
    margin: 0;
    padding: 0;
  }

  .account p, .transaction p {
    font-size: 20px;
  }

  .description, .amount {
    font-weight: bold;
  }

  .transaction > .categories {
    display: flex;
  }

  .category, .credited-institution, .debited-institution {
    font-weight: bold;
    text-transform: capitalize;
    margin-right: 10px;
  }

  .credited-account {
    margin-right: 20px;
  }

  .accounts-container {
    grid-area: 2 / 1 / span 1 / span 2;
    display: flex;
  }