{% extends 'base.html' %} 
{% block content %}
<div class="account">
    <a href="{% url 'institution_detail' account.institution.pk %}">
        <img src="{{account.institution.logo}}" alt="{{account.institution.name}}" class="institution-logo">
    </a>
    <a href="{% url 'account_detail' account.pk %}">
        <p class="name">{{account.name}}</p>
    </a>
    <p class="balance">${{account.balance_current}}</p>
    <a href="{% url 'institution_detail' account.institution.pk %}" class="institution-anchor">
        <p class="institution">{{account.institution}}</p>
    </a>
</div>
<h3 class="title is-3">Transactions</h3>
{% for transaction in account.debit_transactions.all %}
<div class="transaction">
    <a href="{% url 'transaction_detail' transaction.pk %}">
        <p class="description">{{transaction.description}}</p>
    </a>
    <div class="categories">
            <p class="category">{{transaction.category}} - </p>
            <p class="sub-category">{{transaction.sub_category}}</p>
    </div>
    <p class="amount">${{transaction.amount}}</p>
    {% if transaction.credited_account and transaction.debited_account %}
    <div class="accounts-container">
        <a href="{% url 'institution_detail' transaction.credited_account.institution.pk %}">
            <p class="credited-institution">From: {{transaction.credited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.credited_account.pk %}">
            <p class="credited-account">{{transaction.credited_account}}</p>
        </a>
        <a href="{% url 'institution_detail' transaction.debited_account.institution.pk %}">
            <p class="debited-institution">To: {{transaction.debited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.debited_account.pk %}">
            <p class="debited-account">{{transaction.debited_account}}</p>
        </a>
    </div>
    {% elif transaction.credited_account %}
    <div class="accounts-container">
        <a href="{% url 'institution_detail' transaction.credited_account.institution.pk %}">
            <p class="credited-institution">From: {{transaction.credited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.credited_account.pk %}">
            <p class="credited-account">{{transaction.credited_account}}</p>
        </a>
    </div>
    {% elif transaction.debited_account %}
    <div class="accounts-container">
        <a href="{% url 'institution_detail' transaction.debited_account.institution.pk %}">
            <p class="debited-institution">To: {{transaction.debited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.debited_account.pk %}">
            <p class="debited-account">{{transaction.debited_account}}</p>
        </a>
    </div>
    {% endif %}
    <p class="date">{{transaction.transaction_date}}</p>
</div>
{% empty %}
<article class="message">
    <div class="message-header">
        <p>No Debited Transactions on this Account</p>
    </div>
</article>

{% endfor %}
{% for transaction in account.credit_transactions.all %}
<div class="transaction">
    <a href="{% url 'transaction_detail' transaction.pk %}">
        <p class="description">{{transaction.description}}</p>
    </a>
    <div class="categories">
            <p class="category">{{transaction.category}} - </p>
            <p class="sub-category">{{transaction.sub_category}}</p>
    </div>
    <p class="amount">${{transaction.amount}}</p>
    {% if transaction.credited_account and transaction.debited_account %}
    <div class="accounts-container">
        <a href="{% url 'institution_detail' transaction.credited_account.institution.pk %}">
            <p class="credited-institution">From: {{transaction.credited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.credited_account.pk %}">
            <p class="credited-account">{{transaction.credited_account}}</p>
        </a>
        <a href="{% url 'institution_detail' transaction.debited_account.institution.pk %}">
            <p class="debited-institution">To: {{transaction.debited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.debited_account.pk %}">
            <p class="debited-account">{{transaction.debited_account}}</p>
        </a>
    </div>
    {% elif transaction.credited_account %}
    <div class="accounts-container">
        <a href="{% url 'institution_detail' transaction.credited_account.institution.pk %}">
            <p class="credited-institution">From: {{transaction.credited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.credited_account.pk %}">
            <p class="credited-account">{{transaction.credited_account}}</p>
        </a>
    </div>
    {% elif transaction.debited_account %}
    <div class="accounts-container">
        <a href="{% url 'institution_detail' transaction.debited_account.institution.pk %}">
            <p class="debited-institution">To: {{transaction.debited_account.institution}} -</p>
        </a>
        <a href="{% url 'account_detail' transaction.debited_account.pk %}">
            <p class="debited-account">{{transaction.debited_account}}</p>
        </a>
    </div>
    {% endif %}
    <p class="date">{{transaction.transaction_date}}</p>
</div>
{% empty %}
<article class="message">
    <div class="message-header">
        <p>No Debited Transactions on this Account</p>
    </div>
</article>

{% endfor %}

{% endblock %}