{% extends 'base.html' %}
{% block title %}Accounts{% endblock  %}

{% block content %}

<h1 class="title pt-5">{{ header }}</h1>

<a class="button" href="{% url 'account_create' %}">Add Account</a>

<div class="account-list">
  {% for account in accounts %}
  <div class="account">
    <a href="{% url 'institution_detail' account.institution.pk %}">
        <img src="{{account.institution.logo}}" alt="{{account.institution.name}}" class="institution-logo">
    </a>
    <a href="{% url 'account_detail' account.pk %}">
        <p class="name">{{account.name}}</p>
    </a>
    <p class="balance">${{account.balance_current}}</p>
    <a href="{% url 'institution_detail' account.institution.pk %}" class="institution-anchor">
        <p class="institution">{{account.institution}}</p>
    </a>
</div>
	{% empty %}
  <article class="message">
    <div class="message-header">
      <p>No Accounts Available</p>
    </div>
  </article>
  {% endfor %}
</div>
{% endblock %}