{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{institution.logo}}" alt="{{institution.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{institution.name}}</h1>
</div>
<div class="detail__container">
    <div class="detail__accounts mb-5">
        <h3 class="title is-3">Accounts</h3>

        {% for account in institution.accounts.all %}
        <div class="account">
            <a href="{% url 'institution_detail' account.institution.pk %}">
                <img src="{{account.institution.logo}}" alt="{{account.institution.name}}" class="institution-logo">
            </a>
            <a href="{% url 'account_detail' account.pk %}">
                <p class="name">{{account.name}}</p>
            </a>
            <p class="balance">${{account.balance_current}}</p>
            <a href="{% url 'institution_detail' account.institution.pk %}" class="institution-anchor">
                <p class="institution">{{account.institution}}</p>
            </a>
        </div>
        {% empty %}
        <article class="message">
            <div class="message-header">
                <p>No Accounts Available</p>
            </div>
        </article>

        {% endfor %}
    </div>
</div>

{% endblock %}