{% extends 'base.html' %} 
{% block content %}
<div class="detail__img">
    <img src="{{institution.logo}}" alt="{{institution.name}}" />
</div>
<div class="detail__name">
    <h1 class="title">{{institution.name}}</h1>
</div>
<div class="detail__container">
    <div class="detail__accounts mb-5">
        <h3 class="title is-3">Accounts</h3>

        {% for account in institution.accounts.all %}
            <div class="account">
                <span>{{forloop.counter}}</span>
                <span><b>{{account.name}}</b></span>
                <span>Type: {{account.account_type}}</span>
                <span>Subtype: {{account.account_subtype}}</span>
                <span>Current Balance: {{account.balance_current}}</span>
            </div>
        {% empty %}
            <article class="message">
                <div class="message-header">
                    <p>No Accounts Available</p>
                </div>
            </article>

        {% endfor %}
    </div>
</div>

{% endblock %}